target/
build/
.gradle/
.idea/
*.iml
.DS_Store
.env
*.log
node_modules/
dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
mobile/.dart_tool/
mobile/build/
admin/dist/
admin/.angular/
*.class
coverage/
